@use "tailwindcss";

.cameras-home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  border-top: solid 1px black;

  .panel {
    min-width: 500px;
    padding: 0.25rem 1rem;
    border-right: solid 1px black;
  }
}