.infobox {
  visibility: hidden;
  position: absolute;
  top: -1000px;
  border: solid 1px black;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: max-content;

  &:hover {
    z-index: 10;
  }

  &.open {
    visibility: visible;
  }

  &.startInfo {
    background: rgba(221, 255, 222, 0.85);
  }

  &.endInfo {
    background: rgba(255, 221, 221, 0.85);
  }

  .road-name {
    font-weight: bold;
    .alias {
      font-weight: normal;
    }
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 2px;
  }

  .city, .district-municipality {
    font-size: 0.9rem;
  }

  .town {
    font-size: 0.8rem;
  }

  .village, .community, .locality {
    font-size: 0.75rem;
  }

  .react-loading-skeleton {
    display: inline-block;
    --base-color: rgba(0, 0, 0, 0.15);
    --highlight-color: rgba(255, 255, 255, 0.5);
    --animation-duration: 2s !important;
    background: linear-gradient(
      90deg,
      var(--base-color) 10%,
      var(--highlight-color) 50%,
      var(--highlight-color) 75%
    ) !important;
  }

}