.form {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 500px;

  time {
    cursor: default;
  }

  .hidden {
    display: none !important;
  }

  .form-header {
    h4 {
      .event-id {
        display: inline-block;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: normal;
      }
    }
    button {
      border-radius: 4px;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      border: solid 1px transparent;
      font-weight: bold;

      background: none;
      color: #666;

      svg {
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 0.5rem;
      }

      &:hover {
        border-color: #666;
      }

      &:active {
        border-color: black;
        color: black;
        background: #eee;
      }
    }
  }

  .form-body {
    flex: 1;
    overflow: auto;
    height: 100%;
    scrollbar-color: #999 #f3f2f1;
  }

  input, select, textbox {
    border: solid 1px #000;
    border-radius: 4px;
    padding-left: 5px;
  }

  input::placeholder {
    font-size: 0.8rem;
  }

  textbox {
    display: block;
  }

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .section {
    border: solid 1px black;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background: white;

    &.form-header {
      flex: 0;
      border: none;
      border-radius: 0;
      margin: 0;
    }

    .title, .subtitle {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      &.error {
        color: red;

        .error-message {
          display: inline-block;
          font-size: 80%;
          margin-left: 3rem;
        }
      }
    }

    .is-closure {
      background: red;
      color: white;
      padding: 0.25rem 0.5rem;
      border-radius: 8px;
      margin-bottom: 0.75rem;
    }

    .row {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      div {
        flex: 1;
      }
    }

    .toggleable {
      .toggle {
        padding: 0 0.5rem 0 0.25rem;
      }
    }
    .input {
      display: block !important;

      label {
        display: block;
        font-size: 0.675rem;
        margin-bottom: 0.25rem;
      }

      input, select {
        width: 100%;
      }

      .inline {
        display: flex;
        justify-content: flex-start;
        input, select {
          width: fit-content;
          flex: 0;
        }
      }

      &.error {
        label {
          color: red;
          font-weight: bold;
        }
        select {
          border-color: red;
        }
      }
    }

    .handle {
      flex: 0; cursor: pointer; user-select: none;
      font-size: 1rem;
      font-weight: bold;
      padding: 0 0.25rem;
      display: grid;
      align-items: center;

      &.delete {
        color: red;
      }

      &.inactive {
        color: #ccc;
        cursor: default;
      }
    }

    .draggable {
      display: flex;
      margin-bottom: 0.5rem;

      .control {

        &.column {
          flex-direction: column;
        }

        display: flex;
        flex: 1;
        select { flex: 1 }
        > div { display: flex; }
      }

      .select-fill {
        flex: 1;
          select {
            flex:1;
          }
        > div {
          flex: 1;
          display: flex;
        }
        .input {
          display: block;
          label {
            display: block;
          }
        }
      }
    }

    &.location {
      .go-to {
        cursor: pointer;
      }
      .toggleable {
        display: flex;
        margin-bottom: 0.25rem;
        &:last-child {
          margin-bottom: 0;
        }
        .toggle {
          .unfold {
            display: none;
          }
        }

        &.folded {
          .toggle {
            .fold { display: none; }
            .unfold { display: inline-block; }
          }
          .toggled {
            > div:not(:first-child) {
              display: none;
            }
          }
        }

        .toggle {
          svg {
            cursor: pointer;
          }
        }

        .toggled {
          flex: 1;

          div {
            margin-bottom: 0.25rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &.impacts, &.conditions {
      .draggable {
        .control {
          flex-direction: column;
        }
      }
      img::after {
        width: 16px;
      }
    }

    &.delays {
      input {
        margin-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    &.restrictions {

      .draggable {
        .control {
          gap: 0.5rem;
          > div, input {
            padding-left: 0.3rem;
            flex: 1;
          }
        }
      }
    }

    &.timing {

      svg {
        cursor: pointer;
      }

      .timezone {
        display: inline-block;
        width: 3rem;
      }

      .row {
        display: block;

        input[type=datetime-local] {
          width: fit-content;
          margin-right: 0.5rem;
          padding-left: 0.25rem;
        }
        select {
          width: fit-content;
        }
      }
    }

    &.additional {
      textarea {
        width: 100%;
        height: 7rem;
        border: solid 1px #ccc;
        padding: 0.25rem 0.5rem;

        &:focus {
          outline: 0;
        }
      }
      .bold {
        font-weight: bold;
        color: red;
      }
    }

    &.internal {
      .table {
        display: flex;
        flex-direction: column;

        div {
          border: none;
          margin: 0;
        }

        .note {
          display: flex;
          font-size: 0.9rem;

          &.saving {
            opacity: 0.5;
          }

          &.add-note {
            display: block;

          }
          .icon {
            width: 2rem;
          }

          .note-inner {
            flex: 1;
          }

          padding-bottom: 0.75rem;
          border-bottom: solid 1px #ccc;

          textarea {
            width: 100%;
            field-sizing: content;
            min-height: 4rem;
            border: solid 1px #ccc;
            padding: 0.25rem 0.5rem;
            border-radius: 4px;

            &:focus {
              outline: 0;
            }
          }
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0rem;
            border-bottom: none;
          }

          .buttons {
            margin-top: 0.5rem;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            gap: 2rem;

            button {
              flex: 0;
              min-width: max-content;
            }

            .id-version {
              text-align: right;
              font-size: 0.675rem;
              flex: 1;
              color: #ccc;
            }
          }

          button {
            background: none;
            border-radius: 4px;
            color: #1e1e1e;
            padding: 0.25rem 0.5rem;
            cursor: pointer;
            border: solid 1px transparent;
            font-weight: bold;
            font-size: 0.85rem;

            &:hover {
              border-color: black;
              color: black;
              background-color: #f3f2f1;
            }

            &:active {
              border-color: black;
              color: black;
              background-color: #eee;
            }

            svg {
              margin-right: 0.5rem;
              &.spinner {
                animation-name: fa-spin;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
              }
            }
          }

          button + button {
            /* margin-left: 1rem; */
          }

          &.add-note {
            text-align: right;
            button {
              border: solid 1px #1e1e1e;
            }
          }

          .body {
            margin-top: 0.5rem;
            white-space: pre-line;
            p {
              margin-bottom: 1rem;
              &:last-child {
                margin-bottom: 0rem;
              }
            }
          }

          .header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            font-size: 0.675rem;

            .buttons {
              text-align: right;
              /* width: 25%; */
            }

            .updated {
              font-size: 0.675rem;
              /* width: 25%; */
            }
          }
        }
      }
    }

    &.buttons {
      display: flex;
      justify-content: space-between;
      border-color: white;
      margin: 0.5rem 0 0 0;
      border-radius: 0;

      button {
        background: black;
        border-radius: 4px;
        color: white;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
        border: solid 1px transparent;
        font-weight: bold;

        svg {
          display: inline-block;
          vertical-align: text-bottom;
          margin-right: 0.5rem;
        }

        &:hover {
          border-color: 333;
          background: #333;
        }

        &:active {
          border-color: 999;
          background: #999;
        }

        &.cancel {
          background: none;
          color: #666;

          &:hover {
            border-color: #666;
          }

          &:active {
            border-color: black;
            color: black;
            background: #eee;
          }
        }
      }
    }
  }
}

@keyframes fa-spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}