@use "tailwindcss";

.events-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  section {
    height: 100%;
    overflow: hidden;
  }

  .events-home {
    height: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;

    .map-container {
      position: relative;
    }

    .panel {
      min-width: 400px;
      overflow: hidden;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
      z-index: 1;
      background: #f3f2f1;
    }

    .preview {
      min-width: 400px;
      max-width: 400px;
    }
  }
}