@use "../styles/variables.scss" as *;

.layers-control {
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  z-index: 1;
  color: $Grey80;
  box-shadow: 0 1.937px 4.358px 0 rgba(0,0,0,.13),0 .363px 1.089px 0 rgba(0,0,0,.1);
  overflow: hidden;
  font-size: 14px;

  &.closed {
    width: auto;
    border: solid 1px $BC-Blue;
    color: $BC-Blue;
    font-weight: bold;

    .header {
      border-bottom: none;
      button {
        padding-left: 0;
      }
    }
  }

  .header {
    display: flex;
    padding: 0rem 0.5rem 0 1rem;
    justify-content: space-between;
    border-bottom: solid 2px #ccc;

    button {
      padding: 0.25rem 0.5rem;
      margin-bottom: -2px;
      line-height: 2rem;
      border-bottom: solid 2px transparent;

      &.active {
        color: $BC-Blue;
        font-weight: bold;
        border-bottom: solid 2px $BC-Blue;
      }
    }
  }

 .tab {
    background: $Grey10;
    padding: 0.5rem;

    .layers .group {
      color: $BC-Blue;
      font-size: 14px;
      font-weight: bold;
      padding: 0.25rem 0.5rem;
    }

    .legend {

      max-height: 600px;
      overflow-y: auto;
      padding: 0 0.5rem;
      color: black;

      .group {
        font-size: 1rem;
        font-weight: 700;

        &+.option {
          margin-top: 1rem;
        }
      }

      .option {
        font-weight: 700;

        img {
          display: inline-block;
          margin-right: 0.5rem;
        }

        svg {
          margin: 0 8px 0 5px;
        }

        &.major {
          color: $Error;
        }

        &.minor {
          color: $BC-Yellow-Dark
        }
      }

      p {
        font-size: 14px;
        margin-bottom: 1rem;
      }
    }

    .options-group {
      background-color: white;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      button {
        background: $Grey20;
        height: 28px;
        border-radius: 14px;
        padding: 0 0.75rem 0 2px;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover {
          background: $Grey30;
        }

        &.enabled {
          background: $BC-Blue;
          color: white;
        }

        svg {
          border-radius: 14px;
          background-color: white;
          padding: 4px;
          color: $BC-Yellow-Dark;
        }

        &.minor svg {
          color: $BC-Yellow-Dark;
          transform: scaleY(-1);
          path {
            transform: translateY(-50px);
          }
        }

        &.dms svg {
          color: $BC-Blue;
        }

        &.road-conditions svg {
          transform: rotate(45deg);
        }

        &.red svg path {
          color: $Error;
        }

        &.stroke svg path {
          stroke: currentColor;
          stroke-width: 5%;
        }
      }
    }

    &.closed {
      padding: 0;
    }
  }
}