.tooltip {
  display: inline-flex;
  position: relative;
  vertical-align: text-top;

  .text-container {
    display: inline-block;
    position: relative;

    .text {
      visibility: hidden;
      position: absolute;
      width: max-content;
      max-width: 250px;
      top: 0;
      left: 0.5rem;
      background: rgba(0, 0, 0, 0.7);
      padding: 0 0.25rem;
      border-radius: 4px;
      color: white;
      font-size: 0.9rem;
    }
  }

  &:hover {
    .text {
      visibility: visible;
      white-space: pre-line;
    }
  }
}