@use "tailwindcss";
@use "./styles/typography.scss";
@use "./styles/variables.scss" as *;


body {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: #2d2d2d;

  svg {
    display: inline-block;
    vertical-align: text-bottom;
  }

  header {
    padding: 0 1rem 0.25rem 1rem;
    flex: 0;
    color: $BC-Blue;

    a {
      display: inline-block;
      margin-right: 2rem;
      vertical-align: middle;

      &.active {
        font-weight: bold;
      }
    }

    &.env-dev, &.env-test, &.env-uat {
      color: $White;

      a {
        color: $White;

        svg { color: $White; }
      }
    }

    &.env-dev {
      background-color: $Green;
    }

    &.env-test {
      background-color: $Orange100;
    }

    &.env-uat {
      background-color: $Purple100;
    }
  }

  & > header {
    display: flex;
    align-items: center;

    padding-top: 0.25rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

    div.right {
      flex: 1;
      text-align: right;

      button {
        cursor: pointer;
        opacity: 0.5;
        &.debugging {
          opacity: 1;
        }
      }
    }
  }

  main {
    flex: 1;
    overflow: hidden;

    header {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

