@use "../styles/variables.scss" as *;

.homepage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.25rem;
  padding: 0 1rem;

  h1 {
    margin-top: 1.25rem;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: underline;
  }

  .sign-in-button {
    button {
      color: white;
      background-color: $Type-Primary;
      font-weight: 700;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      padding: 0.5rem;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: black;
      }

      &:active {
        outline: none;
        box-shadow: 0 0 0 2px $Grey50;
      }
    }
  }

  .login-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;

    .login-options {
      grid-column: span 4;
      gap: 1.5rem;
      align-items: start;
    }

    .login-access {
      grid-column: span 4;
      gap: 1.5rem;
    }
  }

  .help-container {
    gap: 3rem;
    margin-top: 4rem;

    .help-idir, .help-bceid {
      gap: 2rem;
    }
  }
}