.ride-checkboxes {
  display: flex;
  margin-bottom: .75rem;

  &-label {
    width: 150px;
    margin-right: 1rem;
  }

  &-items {
    flex: 1;
    height: 132px;
    overflow-y: auto;

    &-row {
      display: flex;
      align-items: center;
    }
  }
}
