@use "../../styles/variables.scss" as *;
@use "tailwindcss";

.user-form {
  &:not(:last-child) {
    margin-bottom: .75rem;
  }

  .ride-dropdown-label, .ride-dropdown-button, .selected-text {
    flex: 1;
    align-self: flex-start;
    display: flex;
  }
}

.ride-dropdown {
  position: relative;
  display: flex;
  align-items: center;

  &-button {
    display: flex;
    align-items: center;
    column-gap: 0.375rem;
    border-radius: 0.25rem;
    background: $Grey10;
    padding: .25rem .5rem;
    font-size: 0.875rem;
    color: #111827;
    border: 1px solid black;
    height: 31px;

    &:hover {
      background-color: #f9fafb;
    }

    .invisible-placeholder{
      visibility: hidden;
    }
  }

  &-label {
    font-size: .875rem;
    margin-right: 1.25rem;
  }

  &-menu {
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 10;
    margin-top: 0.5rem;
    width: 14rem;
    transform-origin: top right;
    border-radius: 0.375rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    outline: 1px solid rgba(0, 0, 0, 0.05);
    transition-property: all;
    height: 300px;
    overflow-y: scroll;

    &[data-closed] {
      transform: scale(0.95);
      opacity: 0;
    }

    &[data-enter] {
      transition-duration: 100ms;
      transition-timing-function: ease-out;
    }

    &[data-leave] {
      transition-duration: 75ms;
      transition-timing-function: ease-in;
    }

    &.no-items {
      visibility: hidden;
    }
  }

  &-items-wrapper {
    padding: 0.25rem 0;
  }

  &-item {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: $Type-Primary;

    &[data-focus] {
      background-color: #f3f4f6;
      color: #111827;
      outline: none;
    }
  }

  &-button-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: left;
    font-size: 0.875rem;
    color: $Type-Primary;

    &[data-focus] {
      background-color: #f3f4f6;
      color: #111827;
      outline: none;
    }
  }
}
