@use "../../styles/variables.scss" as *;
@use "tailwindcss";

.ride-textinput {
  &.form {
    .ride-textinput-label {
      width: 150px;
    }

    .ride-textinput-input {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: .75rem;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &-label {
    font-size: 0.875rem;
    margin-right: 1.25rem;
  }

  &-input {
    resize: none;
    border-radius: .25rem;
    border: 1px solid black;
    background: $Grey10;
    padding: .25rem .75rem;
    font-size: 0.875rem;
  }
}
