nameOverride: uat-ride
fullnameOverride: uat-ride

# These global values are used by all components of the application.
global:
  vault:
    licenceplate: f4dbc3 # This is the license plate you are deploying to. It is used to determine the vault path
    environment: nonprod #Set to prod if you want to use the prod vault or nonprod for dev/test/uat
  release: # This is set by Github actions for the prod release. Do not change this value.
  branch: # This is set by Github actions for the branch name. Do not change this value.
  image:
    tag: latest-uat

webapp:
  enabled: true
  nameOverride: uat-ride-webapp
  fullnameOverride: uat-ride-webapp
  replicaCount: 1 # Number of replicas to deploy

  image:
    repository: ghcr.io/bcgov/ride-webapp

  prometheus:
    enabled: false # If you have prometheus metrics in the app, set to true so sysdig can scrape them.

  vault:
    secretName: uat-webapp  # This is the name of the secret in vault that contains the environment variables for the app
    authPath: auth/k8s-gold # Must match cluster. Use one of: k8s-silver, k8s-gold, k8s-golddr, k8s-emerald

  deployment:
    strategy: RollingUpdate # Can be Recreate or RollingUpdate
    resources:
      requests:
        cpu: 10m
        memory: 75Mi
      limits:
        memory: 300Mi
    env:
      postgresSecret: uat-ride-db-crunchy-pguser-uat-ride-db # This is the name of the secret generated by Crunchy for the database
      variables:
        SHOW_DEBUG_TOOLBAR: 'False' # Set to False for UAT and Prod
        DEBUG: 'False' # Set to False for UAT and Prod

  podDisruptionBudget: 
    enabled: true # If you have more than 1 replica, you can set this to true. Will also check to ensure more than 1 replica set to prevent issues
    minAvailable: 1 


static:
  enabled: true
  nameOverride: uat-ride-static
  fullnameOverride: uat-ride-static
  replicaCount: 1 # Number of replicas to deploy

  image:
    repository: ghcr.io/bcgov/ride-static

  prometheus:
    enabled: false # If you have prometheus metrics in the app, set to true so sysdig can scrape them.

  vault:
    secretName: uat-static  # This is the name of the secret in vault that contains the environment variables for the app
    authPath: auth/k8s-gold # Must match cluster. Use one of: k8s-silver, k8s-gold, k8s-golddr, k8s-emerald

  deployment:
    strategy: RollingUpdate # Can be Recreate or RollingUpdate
    resources:
      requests:
        cpu: 10m
        memory: 75Mi
      limits:
        memory: 200Mi
    env:
      variables:
        ENVIRONMENT: 'uat' # Set to dev, test, uat, prod

  route:
    host: uat-ride-static.apps.gold.devops.gov.bc.ca # The host name for the route
    # NOTE: For Vanity URL, this will only do the initial install of the URL. Once created it WILL NOT update it or delete it. This must be done manually
    # because you would most likely have set a certificate on the route and updating it or deleting it could cause issues.
    vanityurl: true #Set to true if you want to use a vanity URL. This will require a certificate in the cluster (set manually) and dns entry
    vanityurlhost: uat-ride.th.gov.bc.ca  #The path to use for the vanity URL

  podDisruptionBudget: 
    enabled: false # If you have more than 1 replica, you can set this to true. Will also check to ensure more than 1 replica set to prevent issues
    minAvailable: 1 