@font-face {
    font-family: 'Arial Narrow';
    src: url('/fonts/arial-narrow/ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('/fonts/arial-narrow/ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}