@font-face {
    font-family: 'Aboriginal Sans';
    src: url('/fonts/aboriginal-sans/AboriginalSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/aboriginal-sans/AboriginalSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}