name: 4. Promote from UAT to Prod

on: 
  release:
    types: [published]

permissions: 
  contents: read
  packages: write

jobs:
  tag:
    runs-on: ubuntu-latest
    name: Create Tag Variable
    timeout-minutes: 1
    outputs:
      tag: ${{ steps.create_tag.outputs.tag }}

    steps:
      - name: Set the tag variable
        id: create_tag
        run: |
          vtag=${{ github.ref_name }}
          echo "tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT

  setup: # Need to define variables this way because certain fields don't accept env variables (ie. environment)
    runs-on: ubuntu-latest
    needs : [tag]
    name: Setup Job to define outputs
    outputs:
      environment_name: prod
      helm_release_name: prod-ride
      image_registry: ghcr.io
      openshift_gold_url: https://prod-ride.apps.gold.devops.gov.bc.ca
      openshift_golddr_url: https://prod-ride.apps.golddr.devops.gov.bc.ca
      custom_tag: '' # Not required for Prod
      tag_for_helm: ${{ needs.tag.outputs.tag }}
    steps:
      - name: Set outputs
        run: echo "This step is required to set job outputs."

  #This job adds 'latest-prod' docker tags to the existing image in Github Packages so it's always clear which image is current for a particular environment
  addDockerTag:
    needs: [setup, tag]
    runs-on: ubuntu-latest
    name: Add latest-prod Tag to ${{ matrix.name }} Image
    outputs:
      tag: ${{ steps.meta.outputs.tags }}
    strategy:
      matrix:
        include:
          - name: Webapp
            image_name: ride-webapp
          - name: Static
            image_name: ride-static
    steps:
    - name: Add Tag
      uses: shrink/actions-docker-registry-tag@v4
      with:
        registry: ${{ needs.setup.outputs.image_registry }}
        repository: ${{ matrix.image_name }}
        target: ${{ needs.tag.outputs.tag }}
        tags: |
          latest-${{ needs.setup.outputs.environment_name }}

  update-openshift-gold:
    needs: [setup]
    runs-on: ubuntu-latest
    name: Deploy to Gold. Tag ${{ needs.setup.outputs.tag_for_helm }}
    environment:
      name: ${{ needs.setup.outputs.environment_name }}
      url: ${{ needs.setup.outputs.openshift_gold_url }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install CLI tools from OpenShift Mirror
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: "4"
        skip_cache: true
      
    - name: Authenticate and set context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ vars.OPENSHIFT_GOLD_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_GOLD_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: false
    - name: Helm upgrade on OpenShift Gold Environment
      run: |
        helm template ${{ needs.setup.outputs.helm_release_name }} -f ./infrastructure/main/values-${{ needs.setup.outputs.environment_name }}.yaml ./infrastructure/main --set global.image.tag="${{ needs.setup.outputs.tag_for_helm }}" --set global.branch="${{ github.ref }}" --set global.release="${{ github.event.release.name }}"

  # GoldDR Runs after Gold Deployment due to GoldDR DB being read-only replica of Gold
  update-openshift-golddr:
    needs: [setup, update-openshift-gold] 
    runs-on: ubuntu-latest
    name: Deploy to GoldDR. Tag ${{ needs.setup.outputs.tag_for_helm }}
    environment:
      name: ${{ needs.setup.outputs.environment_name }}
      url: ${{ needs.setup.outputs.openshift_golddr_url }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install CLI tools from OpenShift Mirror
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: "4"
        skip_cache: true
     
    - name: Authenticate and set context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ vars.OPENSHIFT_GOLDDR_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_GOLDDR_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: false

    - name: Helm upgrade on OpenShift GoldDR Environment
      run: |
        helm template ${{ needs.setup.outputs.helm_release_name }} -f ./infrastructure/main/values-${{ needs.setup.outputs.environment_name }}.yaml -f ./infrastructure/main/values-${{ needs.setup.outputs.environment_name }}-dr.yaml ./infrastructure/main --set global.image.tag="${{ needs.setup.outputs.tag_for_helm }}" --set global.branch="${{ github.ref }}" --set global.release="${{ github.event.release.name }}"
