name: 3. Build & Deploy to UAT

on:
  workflow_dispatch:

permissions: 
  contents: read
  packages: write   

env:
  REGISTRY: ghcr.io
  WEBAPP_IMAGE_NAME: ${{ github.repository }}-webapp
  STATIC_IMAGE_NAME: ${{ github.repository }}-static

jobs:
  tag:
    runs-on: ubuntu-latest
    name: Create Tag and set Variable
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.create_tag.outputs.tag }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Generate Incremental Tag
      id: generate_tag
      run: |
        # Fetch existing tags
        git fetch --tags
        
        # Find the highest existing "b" tag number
        LAST_RUN_ID=$(git tag -l "rc*" | sed -E "s/rc//" | sort -n | tail -n 1)
        
        # Default to 0 if no previous run ID found
        if [ -z "$LAST_RUN_ID" ]; then
          LAST_RUN_ID=0
        fi
        
        # Increment run ID
        RUN_ID=$((LAST_RUN_ID + 1))
        TAG="rc${RUN_ID}"
        
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    - name: Create Tag
      id: create_tag
      if: github.event_name == 'workflow_dispatch'
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        git tag ${{ steps.generate_tag.outputs.tag }}
        git push origin ${{ steps.generate_tag.outputs.tag }}
        echo "tag=${{ steps.generate_tag.outputs.tag }}" >> $GITHUB_OUTPUT

    - name: Display Tag Name
      run: |
        echo "Tag Name: ${{ steps.create_tag.outputs.tag }}"


  setup: # Need to define variables this way because certain fields don't accept env variables (ie. environment)
    needs : [tag]
    runs-on: ubuntu-latest
    name: Setup Job to define outputs
    outputs:
      environment_name: uat
      helm_release_name: uat-ride
      image_registry: ghcr.io
      openshift_gold_url: https://uat-ride.apps.gold.devops.gov.bc.ca
      openshift_golddr_url: https://uat-ride.apps.golddr.devops.gov.bc.ca
      custom_tag: type=raw,value=${{ needs.tag.outputs.tag }}
      tag_for_helm: ${{ needs.tag.outputs.tag }}
    steps:
      - name: Set outputs
        run: echo "This step is required to set job outputs."

  build-and-push:
    needs: [setup]
    runs-on: ubuntu-latest
    name: Build & Push ${{ matrix.name }} Image
    environment: ${{ needs.setup.outputs.environment_name }}
    outputs:
      tag: ${{ steps.meta.outputs.tags }}
    strategy:
      matrix: # Set of images to build
        include:
          - name: Webapp
            image_name: ${{ github.repository }}-webapp
            dockerfile: ./compose/webapp/Dockerfile
            build_args: |
              DEBUG_BUILD=false
            needs_fontawesome: false
          - name: Static
            image_name: ${{ github.repository }}-static
            dockerfile: ./compose/frontend/StaticBuild
            build_args: |
              DEBUG_BUILD=false
            needs_fontawesome: true

### EVERYTHING PAST THIS POINT SHOULD BE THE SAME IN DEV, TEST AND UAT WORKFLOWS ###            

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ needs.setup.outputs.image_registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ needs.setup.outputs.image_registry }}/${{ matrix.image_name }}
          tags: |
            type=raw,value=latest
            type=raw,value=latest-${{ needs.setup.outputs.environment_name }}
            type=sha,format=long
            ${{ needs.setup.outputs.custom_tag }}
            
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: ${{ matrix.build_args }}
          secrets: |
            ${{ matrix.needs_fontawesome && format('FONTAWESOME_PACKAGE_TOKEN={0}', secrets.FONTAWESOME_PACKAGE_TOKEN) || '' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  update-openshift-gold:
    needs: [setup, build-and-push]
    runs-on: ubuntu-latest
    name: Deploy to Gold. Tag ${{ needs.setup.outputs.tag_for_helm }}
    environment:
      name: ${{ needs.setup.outputs.environment_name }}
      url: ${{ needs.setup.outputs.openshift_gold_url }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install CLI tools from OpenShift Mirror
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: "4"
        skip_cache: true
      
    - name: Authenticate and set context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ vars.OPENSHIFT_GOLD_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_GOLD_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: false
    - name: Helm upgrade on OpenShift Gold Environment
      run: |
        helm dependency update ./infrastructure/main
        helm upgrade ${{ needs.setup.outputs.helm_release_name }} -f ./infrastructure/main/values-${{ needs.setup.outputs.environment_name }}.yaml ./infrastructure/main --set global.image.tag="${{ needs.setup.outputs.tag_for_helm }}" --set global.branch="${{ github.ref }}"

  # GoldDR Runs after Gold Deployment due to GoldDR DB being read-only replica of Gold
  update-openshift-golddr:
    needs: [setup, update-openshift-gold] 
    runs-on: ubuntu-latest
    name: Deploy to GoldDR. Tag ${{ needs.setup.outputs.tag_for_helm }}
    environment:
      name: ${{ needs.setup.outputs.environment_name }}
      url: ${{ needs.setup.outputs.openshift_golddr_url }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install CLI tools from OpenShift Mirror
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        oc: "4"
        skip_cache: true
     
    - name: Authenticate and set context
      uses: redhat-actions/oc-login@v1
      with:
        openshift_server_url: ${{ vars.OPENSHIFT_GOLDDR_SERVER }}
        openshift_token: ${{ secrets.OPENSHIFT_GOLDDR_TOKEN }}
        namespace: ${{ vars.OPENSHIFT_NAMESPACE }}
        insecure_skip_tls_verify: false

    - name: Helm upgrade on OpenShift GoldDR Environment
      run: | 
        helm dependency update ./infrastructure/main
        helm upgrade ${{ needs.setup.outputs.helm_release_name }} -f ./infrastructure/main/values-${{ needs.setup.outputs.environment_name }}.yaml -f ./infrastructure/main/values-${{ needs.setup.outputs.environment_name }}-dr.yaml ./infrastructure/main --set global.image.tag="${{ needs.setup.outputs.tag_for_helm }}" --set global.branch="${{ github.ref }}"